@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: white;
  color: #000000;
  
}

.conteudo {
  padding: 100px;
  
}

.unidade {
  margin-bottom: 20px;
  max-width: 500px;         
  width: 100%;             
  margin: 0 auto 40px auto; 
   
}

.unidade h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.unidade p {
  font-size: 12px;
  margin-top: 10px;
  text-align: justify;
  line-height: 1.4;
}

.mapa {
  width: 100%;
  height: 200px;
  border: none;
  margin-top: 10px;
}


